{% extends 'IntraBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ title }}</h1>
    {% if app.session.flashBag.has('success') %}
        {% for msg in app.session.flashBag.get('success') %}
            {{ msg }}
        {% endfor %}
    {% endif %}
    {% if app.session.flashBag.has('error') %}
        {% for msg in app.session.flashBag.get('error') %}
            {{ msg }}
        {% endfor %}
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}